{{ $SuppertAlertTypes := slice "caution" "important" "info" "note" "warning" "tip" }}
{{ if eq .Type "alert" }}
  {{ if not (in $SuppertAlertTypes .AlertType) }}
    {{ errorf "Unsupported alert type: %s" .AlertType }}
  {{ end }}
  <blockquote class="alert alert-type-{{ .AlertType }}">
    <div class="alert-heading-container">
      {{ partial (printf "blockquote-icons/%s.html" .AlertType) }}
      {{ with .AlertTitle }}
        <p class="alert-heading">{{ . }}</p>
      {{ else }}
        <p class="alert-heading">{{ or (i18n .AlertType) (title .AlertType) }}</p>
      {{ end }}
    </div>
    {{ .Text }}
  </blockquote>
{{ else }}
  <blockquote class="alert alert-type-none">
    {{ .Text }}
  </blockquote>
{{ end }}
