.footer {
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #a9d0f4;
}

.socialLinks img {
  height: 30px;
  width: 30px;
  margin: 7.5px;
}

/* We don't need this
@media (min-height: 1000px) {
  .footer {
    position: sticky;
  }
}
*/

@media (prefers-color-scheme: dark) {
  .p {
    color: #000;
  }
}
