.footer {
  width: 100vw;
  text-align: center;
  padding: 5px;
  background: #a9d0f4;
  margin-left: -15px;
}

.socialLinks .imgContainer {
  display: inline-block;
  height: 42px;
  width: 42px;
  margin: 7.5px;
  transition-duration: 0.5s;
  padding-top: 3.5px;
  border-radius: 50%;
  background-color: #b9e7ff;
  filter: drop-shadow(7px 7px 10px #43665a);
  background-image: linear-gradient(
    135deg,
    rgb(185, 231, 255) 50%,
    rgb(185, 231, 255) 50%,
    rgb(129, 194, 242) 50%,
    rgb(129, 194, 242) 100%
  );
  background-repeat: no-repeat;
  background-position: -84px;
  box-sizing: border-box;
  transition-duration: 0.5s;
}

.socialLinks .imgContainer:hover {
  transform: scale(1.5);
  background-position: 42px 0px;
  background-color: rgb(129, 194, 242);
  cursor: pointer;
}

.socialLinks .imgContainer img {
  height: 35px;
  width: 35px;
}

.socialLinks .imgContainer img:hover {
  filter: invert(0.1);
}

.socialLinks .imgContainer img[src*='twitter'] {
  transform: scale(calc(37 / 40));
}

.socialLinks .imgContainer img[src*='linkedin'] {
  transform: scale(calc(32 / 40));
}

/* We don't need this
@media (min-height: 1000px) {
  .footer {
    position: sticky;
  }
}
*/

@media (prefers-color-scheme: dark) {
  .p {
    color: #000;
  }
}
