.container {
  min-height: 100vh;
  width: 100%;
}

.errorCodeContainer .errorCode {
  position: absolute;
  top: calc(50% - 54px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  user-select: none;
}

.errorCodeContainer .errorCode {
  font-size: 120px;
  width: fit-content;
  -webkit-text-stroke: 1px #fff;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  --color-1: #6959fa;
  --color-2: #268f5e;
  background-image: linear-gradient(
    160deg,
    var(--color-1) 50%,
    var(--color-1) 50%,
    var(--color-2) 50%,
    var(--color-2) 100%
  );
}

.errorCodeContainer .errorDescription {
  position: absolute;
  top: calc(50% + 14.5px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  margin: 0 auto;
  width: fit-content;
  color: #fff;
}

.homeButton {
  position: absolute;
  border: none;
  outline: none;
  top: calc(50% + 54px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  background: #a9f064;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  .errorCodeContainer .errorCode {
    --color-1: #b9e7ff;
    --color-2: #81c2f2;
    -webkit-text-stroke-color: #000;
  }
}
